html{
    height:clamp(500px,100%,1000px);
    width: auto;
}

body{
    height:clamp(500px,100%,1000px);
    width:auto;
}

.header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(orange, magenta);
}

.gameBoard{
    display:grid;
    height: 100%;
    width: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
   

}

.markBox{
    border:2px red solid;
    display: grid;
    justify-items:center;
    align-items:center;
}
.markBox:hover{
    background-color:orange;
}
.mark{
    text-align: center;
    border:2px magenta solid;
    height:100%;
    width: 210px;
    font-size:200px
}
.winner{
    background-color: fuchsia;
}
.gameOver{
    border:2px rgb(255, 0, 200) solid;
    display: grid;
    justify-items:center;
    align-items:center;
}